.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.form-wrapper h2 {
  padding-bottom: 2rem;
}
.form-wrapper .form-field {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
